
<h4>Chat en vivo</h4>
<hr>

<div class="chat-window">
  <div class="app-mensajes" id="app-mensajes">

    <!--<div class="text-right">
      <span class="badge badge-primary">Adrian</span>
      <p>
        Este es un mensaje de chat
      </p>
    </div>

    <div class="">
      <span class="badge badge-success">Maria</span>
      <p>
        Saludos Adrián
      </p>
    </div>
    -->

    <div *ngFor="let chat of _cs.chats"
          [ngClass]="{'text-right': usuario == chat.nombre}">
      <span *ngIf="usuario == chat.nombre" class="badge badge-success">{{chat.nombre}}</span>
      <span *ngIf="usuario != chat.nombre" class="badge badge-danger">{{chat.nombre}}</span>

      <p>
        {{chat.mensaje}}
      </p>
    </div>


  </div>

  <input type="text" name="mensaje" class="form-control"
         (keyup.enter)="enviar_mensaje()"
         [(ngModel)]="mensaje" placeholder="Enviar mensaje">

</div>
