.leccion:hover{
  background-color: #3F66A3;
  color: white;
}
.boton{
  font-style: italic;
  float: right;
  background-color: #FFBF00;
}
.boton:hover{
  font-weight:bolder;
}

.botonL{
  float: right;
  background-color: #FFBF00;
}

.badgeCompletado{
  float: right;
  margin-right:10px;
  background-color: #388e3c;
  margin-top: 10px;
}
