<h3>{{materia}}</h3>
<hr>

<div class="row animated fadeIn fast">


    <div class="col-md-6 margenInferior">
        <h5>Unidades</h5>
        <hr>
        <ul class="list-group margenSuperior">
            <li class="list-group-item leccion" *ngFor="let uni of unidades |  keys">
                <p>
                    {{unidades[uni].nombre}}
                    <button (click)="mostrarLecciones(unidades[uni].unidad_id)" type="button" class="btn boton" name="button"><i class="fas fa-list"></i></button>
                </p>
            </li>
        </ul>
    </div>

    <div class="col-md-6 animated fadeIn fast">
        <h5>Ejercicios</h5>
        <hr>
        <h6>{{unidadNombre}}</h6>


        <button *ngIf="botonEjercicios" (click)="irLeccion(unidadId)" type="button" class="btn btn-block btn-success" name="button">Ejercicios</button>
    </div>



</div>