<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3F66A3">

    <a class="navbar-brand" href="#">
        <img src="assets/img/education.png" width="30" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngIf="!sesionCerrada">
                <a class="nav-link letra" [routerLink]="['perfil']">Perfil</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!sesionCerrada">
                <a class="nav-link letra" [routerLink]="['contenido']">Contenido</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!sesionCerrada">
                <a class="nav-link letra" [routerLink]="['amigos']">Amigos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!sesionCerrada">
                <a class="nav-link letra" [routerLink]="['chat']">Chat</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!sesionCerrada">
                <a class="nav-link letra" [routerLink]="['admin']">Administración</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" *ngIf="!sesionCerrada">
            <button (click)="cerrar()" type="button" name="button" class="btn btn-outline-light my-2 my-sm-0 btn-sm"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</button>
        </form>

        <form class="form-inline my-2 my-lg-0" *ngIf="sesionCerrada">
            <a href="https://www.facebook.com/adriansalvador17"><i class="fab fa-facebook-square iconoColor"></i></a>
            <a class="enlace" href="#"><i class="fab fa-youtube iconoColor"></i></a>
            <a href="#"><i class="fab fa-instagram iconoColor"></i></a>
        </form>
    </div>
</nav>